---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Jonathan Cruz - CV">
  <main class="w-full">
    <h1>Jonathan Cruz - Ingeniero de Software</h1>
    <h2>Objetivo Profesional</h2>
    <p>
      Ingeniero de software con más de 5 años de experiencia en aplicaciones
      comerciales, multiniveles, tiendas online, pasarelas de pago,
      criptomonedas y chats. Siempre buscando mejorar los procesos y automatizar
      las tareas para obtener un rendimiento mucho mayor.
    </p>
    <h2>Habilidades</h2>
    <ul>
      <li>Desarrollo de software</li>
      <li>Adaptabilidad</li>
      <li>Trabajo en equipo</li>
      <li>Habilidades de comunicación interpersonal</li>
    </ul>
    <h2>Idiomas</h2>
    <p>Español (Nativo), Inglés (Nivel básico)</p>
    <h2>Información de Contacto</h2>
    <p>Email: jonathan.cruz89@gmail.com</p>
    <p>Teléfono: (+57) 305 383 50 10</p>
    <p>Nacionalidad: Colombiano</p>
    <p>
      LinkedIn:
      <a href="https://www.linkedin.com/in/jonathan-cruz89"
        >Perfil de LinkedIn</a
      >
    </p>
    <h2>Experiencia Laboral</h2>
    <p>
      BACKEND DEVELOPER SENIOR - LAIKA. BOGOTÁ, COLOMBIA. (AGO 2022 - DIC 2022)
    </p>
    <p>
      SOFTWARE ENGINEER - SELLRS. CIUDAD DE MÉXICO (CDMX), MÉXICO. (ENE 2022 -
      JUL 2022)
    </p>
    <p>
      BACKEND AND INTEGRATIONS DEVELOPER - LORO. BOGOTÁ, COLOMBIA. (MAY 2020 -
      DIC 2021)
    </p>
    <p>SENIOR DEVELOPER - BRM. BOGOTÁ, COLOMBIA. (JUL 2019 - MAR 2020)</p>
    <h2>Educación</h2>
    <p>
      Ingeniero de Software - POLITÉCNICO GRANCOLOMBIANO. BOGOTÁ, COLOMBIA.
      (2019 - 2022)
    </p>
    <p>
      Seguridad Informática - UNIPANAMERICANA. BOGOTÁ, COLOMBIA. (JUN 2017 - JUL
      2017)
    </p>
    <h2>Tecnologías</h2>
    <p>
      PHP, MySQL, NodeJS, Laravel, JavaScript, CSS, HTML, Bootstrap, ReactJS,
      AWS, Docker, DDD, CQRS, Linux Command Line, Git, Github Actions, DevOps
    </p>
    <h2>Experiencia Adicional</h2>
    <p>
      Automatización en la creación y actualización de productos en marketplaces
      como Mercado Libre y Shopify.
    </p>
    <p>
      Crear e implementar software para la conexión de múltiples tiendas que
      quieran vender sus productos a través de la empresa.
    </p>
    <!-- Se puede agregar más contenido aquí -->
  </main>
</Layout>
